:root {
  --acent-color: #5dbbc1;
  --bgcolor-primary: #ffffff;
  --bgcolor-secondary: #efefef;
  --bgcolor-third: #0c0623;
  --header-color-dark: #161616;
  --text-color-dark: #130e27;
  --text-color-light: #ffffff;
}