.logo {
  font-family: 'QuiteChocolatey';
  font-size: 5em;
  display: flex;
  align-items: center;
  position: relative;
 
}

.logo_footer {
  font-size: 4em;
}

.logo_acent {
  color: var(--acent-color);
}