.page {

}

.page__content {
  line-height: 1.4;
  font-size: 1.25em;
  
}

.page_head {
  grid-column: 2 / span 1;
  grid-row: 2;
  color: var(--text-color-light);
  padding: 0 100px 0 25px;
  position: relative;
  top: 80px;
}

.page_services {
  grid-column: 2  / span 2;
  grid-row: 3;
}

.page_about-us{
  grid-column: 1  / span 4;
  grid-row: 4;
  display: grid;
  grid-template: 1fr / 1fr 751px 269px 1fr;
  font-size: 1em;
}

.page_acent {
  background: var(--acent-color);
  color: var(--text-color-light);
}

.page_dark {
  background: var(--bgcolor-secondary);
}

.page_pricing {
  grid-column: 1 / span 4;
  grid-row: 5;
  display: grid;
  grid-template: 165px 1fr / 1fr 1020px 1fr
}



.form-wrapper {
  grid-column: 3 / span 1;
  grid-row: 2;
}

.page_testimonial {
  grid-column: 2 / span 1;
  grid-row: 6;
  padding-right: 50px;
  margin-top: 100px;
}

.page_gallery {
  grid-column: 3 / span 1;
  grid-row: 6;
  display: grid;
  grid-template: repeat(4, 110px) / 1fr 1fr 1fr;
  grid-row-gap: 50px;
  margin-top: 75px;
}

.page__header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3.125em;
  margin-top: 30px;
  margin-left: 25px; 
}

.page_about-us .page__content {
  grid-column: 2;
  grid-row: 1;
  padding:  25px;
}

.page_pricing .page__header  {
  text-align: center;
  grid-column: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
}

.page_gallery .page__header {
  text-align: center;
  grid-column: 1/span 3;
  margin:0;
  align-self: center;
  color: var(--acent-color);
}
.page_testimonial .page__header {
  text-align: center;
  margin:0 0 45px 0;
}